pkgbase = hyprlang2lua
	pkgdesc = Convert legacy Hyprland hyprlang (.conf) configuration to the Hyprland 0.55+ Lua format
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/EIonTusk/hyprlang2lua
	arch = x86_64
	arch = aarch64
	license = MIT
	checkdepends = lua
	makedepends = go
	depends = glibc
	source = hyprlang2lua-0.1.0.tar.gz::https://github.com/EIonTusk/hyprlang2lua/archive/v0.1.0.tar.gz
	sha256sums = 980cd6fb20f229c9a805c8bbc0d80c781a2986bde29cfc4d7ea8aa5d88fe4fc0

pkgname = hyprlang2lua
